<div collapse="!hasAlerts">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}">
        <bendy-alert-icon type="{{alert.type}}"></bendy-alert-icon> {{alert.msg}}
    </alert>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <form name="searchContactsForm" id="searchContactsForm" class="form-inline" role="form" ng-submit="search(searchTerms)">
            <div ng-controller="BendyDirtyFormCtrl">
                <div class="form-group">
                    <label for="searchTerms" class="sr-only">search terms</label>
                    <input type="text" class="form-control"
                           id="searchTerms" name="searchTerms" ng-model="searchTerms" bendy-dirty
                           size="42"/>
                </div>
                <button type="submit" class="btn btn-default"
                        ng-disabled="!searchContactsForm.$dirty"
                        ng-class="{changed: searchContactsForm.$dirty}">
                    Search
                </button>
                <button type="button" class="btn btn-default" ng-click="addContact()">
                    <span class="glyphicon glyphicon-plus"></span> Add Contact
                </button>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <!-- todo: sortable, configurable -->
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in contacts">
                    <td>
                        {{person.name}}
                    </td>
                    <td>
                        <span ng-if="person.preferredEmail">
                            <!-- todo: some clear way to display the level?  Or remove from domain, if it will only confuse users?
                            <span ng-if="person.preferredEmail.level == 'GENERAL'">
                                {{person.preferredEmail.level}}
                            </span>
                            -->
                            <bendy-type-icon kind="connection" type="person.preferredEmail.connectionType"></bendy-type-icon>
                            {{person.preferredEmail.address}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="person.preferredPhone">
                            <!-- todo: some clear way to display the level?  Or remove from domain, if it will only confuse users?
                            <span ng-if="person.preferredPhone.level == 'GENERAL'">
                                {{person.preferredPhone.level}}
                            </span>
                            -->
                            <bendy-type-icon kind="connection" type="person.preferredPhone.connectionType"></bendy-type-icon>
                            <bendy-type-icon kind="phone" type="person.preferredPhone.type"></bendy-type-icon>
                            {{person.preferredPhone.number}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="person.preferredConnection && person.preferredConnection.preferredAddress">
                            <bendy-type-icon kind="connection" type="person.preferredConnection.type"></bendy-type-icon>
                            {{person.preferredConnection.preferredAddress.line1}}
                            {{person.preferredConnection.preferredAddress.line2}}
                            {{person.preferredConnection.preferredAddress.city}}
                            {{person.preferredConnection.preferredAddress.state}}
                            {{person.preferredConnection.preferredAddress.postalCode}}
                            {{person.preferredConnection.preferredAddress.countryCode}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
