<div collapse="!hasAlerts">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}">
        <bendy-alert-icon type="{{alert.type}}"></bendy-alert-icon> {{alert.msg}}
    </alert>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <form name="searchContactsForm" id="searchContactsForm" class="form-inline" role="form">
            <div ng-controller="BendyDirtyFormCtrl">
                <div class="form-group">
                    <label for="searchTerms" class="sr-only">search terms</label>
                    <input type="text" class="form-control"
                           id="searchTerms" name="searchTerms" ng-model="searchTerms" bendy-dirty
                           size="42"/>
                </div>
                <button type="submit" class="btn btn-default"
                        ng-click="search(searchTerms)"
                        ng-disabled="!searchContactsForm.$dirty"
                        ng-class="{changed: searchContactsForm.$dirty}">
                    Search
                </button>
                <button type="button" class="btn btn-default" ng-click="addContact()">
                    <span class="glyphicon glyphicon-plus"></span> Add Contact
                </button>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <!-- todo: configurable -->
                <th>
                    Name
                    <bendy-sort-button property-name="name" sort="sort" order="order"></bendy-sort-button>
                </th>
                <th>
                    Email
                    <bendy-sort-button property-name="preferredEmail" sort="sort" order="order"></bendy-sort-button>
                </th>
                <th>
                    Phone
                    <bendy-sort-button property-name="preferredPhone" sort="sort" order="order"></bendy-sort-button>
                </th>
                <th>
                    Address
                    <bendy-sort-button property-name="preferredConnection" sort="sort" order="order"></bendy-sort-button>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="person in contacts" ng-class-odd="'odd'"
                    ng-init="person.isCollapsed=true" ng-show="person.isCollapsed" ng-click="expand(person)">
                    <td>
                        <button class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                        {{person.name}}
                    </td>
                    <td>
                        <span ng-if="person.preferredEmail">
                            <!-- todo: some clear way to display the level?  Or remove from domain, if it will only confuse users?
                            <span ng-if="person.preferredEmail.level == 'GENERAL'">
                                {{person.preferredEmail.level}}
                            </span>
                            -->
                            <bendy-type-icon kind="connection" type="person.preferredEmail.connectionType"></bendy-type-icon>
                            {{person.preferredEmail.address}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="person.preferredPhone">
                            <!-- todo: some clear way to display the level?  Or remove from domain, if it will only confuse users?
                            <span ng-if="person.preferredPhone.level == 'GENERAL'">
                                {{person.preferredPhone.level}}
                            </span>
                            -->
                            <bendy-type-icon kind="connection" type="person.preferredPhone.connectionType"></bendy-type-icon>
                            <bendy-type-icon kind="phone" type="person.preferredPhone.type"></bendy-type-icon>
                            {{person.preferredPhone.number}}
                        </span>
                    </td>
                    <td>
                        <span ng-if="person.preferredConnection && person.preferredConnection.preferredAddress">
                            <bendy-type-icon kind="connection" type="person.preferredConnection.type"></bendy-type-icon>
                            {{person.preferredConnection.preferredAddress.line1}}
                            {{person.preferredConnection.preferredAddress.line2}}
                            {{person.preferredConnection.preferredAddress.city}}
                            {{person.preferredConnection.preferredAddress.state}}
                            {{person.preferredConnection.preferredAddress.postalCode}}
                            {{person.preferredConnection.preferredAddress.countryCode}}
                        </span>
                    </td>
                </tr>
                <tr ng-repeat-end ng-hide="person.isCollapsed" ng-class-odd="'odd'">
                    <td colspan="4">
                        <ng-include src="'partials/personDetails.html'"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer" ng-show="remainingCount()">
        {{remainingCount()}} more matching contacts...
        <button type="button" class="btn btn-default"
                ng-click="loadNextPage()">
            Load {{nextIsFinalPage() ? '' : 'More'}}
        </button>
    </div>
</div>
