<div class="panel panel-default" ng-controller="BendyPersonNameCtrl">
    <div class="panel-body">
        <div ng-show="isNameCollapsed">
            <button class="btn btn-default btn-xs" ng-click="expandName()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            <span ng-click="expandName()">
                (
                {{person.honorific}}
                {{person.firstGivenName}}
                <span ng-if="person.preferredName">
                    ({{person.preferredName}})
                </span>
                {{person.middleGivenNames}}
                {{person.familyName}}{{person.suffix ? ',' : ''}}
                {{person.suffix}}
                )
            </span>
        </div>
        <div ng-hide="isNameCollapsed" ng-form="nameForm" role="form">
            <div ng-controller="BendyDirtyFormCtrl">
                <div class="form-group">
                    <div class="col-xs-1">
                        <button class="btn btn-default btn-xs" ng-click="collapseName()">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                    </div>
                    <label class="control-label col-xs-3"
                           for="person{{person.id}}preferredName">Nickname</label>
                    <div class="col-xs-8">
                        <div ng-hide="editingName">
                            <p class="form-control-static">{{person.preferredName}}</p>
                        </div>
                        <div ng-show="editingName">
                            <input type="text" class="form-control"
                                   id="person{{person.id}}preferredName"
                                   name="person{{person.id}}preferredName"
                                   ng-model="editingName.preferredName" bendy-dirty/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                            for="person{{person.id}}honorific">Honorific</label>
                    <div class="col-xs-8">
                        <div ng-hide="editingName">
                            <p class="form-control-static">{{person.honorific}}</p>
                        </div>
                        <div ng-show="editingName">
                            <input type="text" class="form-control"
                                   id="person{{person.id}}honorific"
                                   name="person{{person.id}}honorific"
                                   ng-model="editingName.honorific" bendy-dirty placeholder="e.g., Mr., Dr., etc."/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           for="person{{person.id}}firstGivenName">First Name</label>
                    <div class="col-xs-8">
                        <div ng-hide="editingName">
                            <p class="form-control-static">{{person.firstGivenName}}</p>
                        </div>
                        <div ng-show="editingName">
                            <input type="text" class="form-control"
                                   id="person{{person.id}}firstGivenName"
                                   name="person{{person.id}}firstGivenName"
                                   ng-model="editingName.firstGivenName" bendy-dirty placeholder="John"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           for="person{{person.id}}middleGivenNames">Middle Names</label>
                    <div class="col-xs-8">
                        <div ng-hide="editingName">
                            <p class="form-control-static">{{person.middleGivenNames}}</p>
                        </div>
                        <div ng-show="editingName">
                            <input type="text" class="form-control"
                                   id="person{{person.id}}middleGivenNames"
                                   name="person{{person.id}}middleGivenNames"
                                   ng-model="editingName.middleGivenNames" bendy-dirty/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           for="person{{person.id}}familyName">Last Name</label>
                    <div class="col-xs-8">
                        <div ng-hide="editingName">
                            <p class="form-control-static">{{person.familyName}}</p>
                        </div>
                        <div ng-show="editingName">
                            <input type="text" class="form-control"
                                   id="person{{person.id}}familyName"
                                   name="person{{person.id}}familyName"
                                   ng-model="editingName.familyName" bendy-dirty placeholder="Doe"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           for="person{{person.id}}suffix">Suffix</label>
                    <div class="col-xs-8">
                        <div ng-hide="editingName">
                            <p class="form-control-static">{{person.suffix}}</p>
                        </div>
                        <div ng-show="editingName">
                            <input type="text" class="form-control"
                                   id="person{{person.id}}suffix"
                                   name="person{{person.id}}suffix"
                                   ng-model="editingName.suffix" bendy-dirty placeholder="e.g., Jr., Ph.D., etc."/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-3">
                        <button type="button" class="btn btn-default"
                                ng-hide="editingName" ng-click="editName()">
                            Edit
                        </button>
                        <button type="submit" class="save btn btn-default"
                                ng-show="editingName" ng-disabled="!nameForm.$dirty"
                                ng-class="{changed: nameForm.$dirty}" ng-click="updateName()">
                            Save
                        </button>
                    </div>
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-default"
                                ng-show="editingName" ng-click="cancelEditName()">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
