<alert ng-repeat="alert in alerts" type="alert.type">
    <bendy-alert-icon type="alert.type"></bendy-alert-icon> {{alert.msg}}
</alert>
<alert ng-repeat="error in errors" type="'danger'">
    <bendy-alert-icon type="'danger'"></bendy-alert-icon> {{error.message}}
</alert>
<form name="settingsForm" id="settingsForm" class="form-horizontal ws-validate" role="form" ng-submit="update(settingsCommand)">
    <div ng-controller="BendyDirtyFormCtrl">
        <div class="form-group">
            <label for="loginEmail" class="col-sm-4 control-label">Email Address (for sign in)</label>
            <div class="col-sm-8">
                <input type="email" class="form-control"
                       id="loginEmail" name="loginEmail" ng-model="settingsCommand.loginEmail" bendy-dirty ng-disabled="!editing"
                       size="42" required placeholder="john@example.com"/>
            </div>
        </div>

        <div class="form-group">
            <label for="timeZone" class="col-sm-4 control-label">Time Zone</label>
            <div class="col-sm-8">
                <select id="timeZone" name="timeZone" ng-disabled="!editing"
                        ng-model="settingsCommand.timeZone" bendy-dirty ng-options="o.key as o.value for o in timeZoneOptions"
                        required class="form-control"></select>
            </div>
        </div>

        <div class="form-group">
            <label for="dateFormat" class="col-sm-4 control-label">Date Format</label>
            <div class="col-sm-8">
                <select id="dateFormat" name="dateFormat" ng-disabled="!editing"
                        ng-model="settingsCommand.dateFormat" bendy-dirty ng-options="o.key as o.value for o in dateFormatOptions"
                        required class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-2">
            <button type="button" class="btn btn-default"
                    ng-hide="editing" ng-click="edit()">
                Edit
            </button>
            <button type="submit" class="save btn btn-default"
                    ng-show="editing" ng-disabled="!settingsForm.$dirty"
                    ng-class="{changed: settingsForm.$dirty}">
                Save
            </button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-default"
                ng-show="editing" ng-click="cancel()">
                Cancel
            </button>
        </div>
    </div>
</form>

<form name="passwordForm" id="passwordForm" class="form-horizontal ws-validate" role="form" ng-submit="updatePassword(passwordCommand)">
    <div ng-controller="BendyDirtyFormCtrl">
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="expander btn btn-default"
                        ng-hide="changingPassword" ng-click="changePassword()"><i class="glyphicon glyphicon-chevron-right"></i> Change Password</button>
                <button type="button" class="expander btn btn-default"
                        ng-show="changingPassword" ng-click="cancelPasswordChange()"><i class="glyphicon glyphicon-chevron-down"></i> Cancel password change</button>
            </div>
        </div>
        <div class="row">
            <div collapse="!changingPassword">
                <fieldset id="changePasswordSection" class="well well-large">
                    <div class="form-group">
                        <label for="oldPassword" class="col-sm-4 control-label">Current Password</label>
                        <div class="col-sm-8">
                            <input type="text" id="oldPassword" name="oldPassword"
                                   ng-model="passwordCommand.oldPassword" bendy-dirty autocomplete="off" required
                                   ng-disabled="!changingPassword"
                                   class="form-control"
                                   data-ajaxvalidate="password/validateCurrent"
                                   data-errormessage-ajaxvalidate="Current password is different.  Please try again."/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newPassword" class="col-sm-4 control-label">New Password</label>
                        <div class="col-sm-8">
                            <input type="text" id="newPassword" name="newPassword"
                                   ng-model="passwordCommand.newPassword" bendy-dirty autocomplete="off" required
                                   ng-disabled="!changingPassword"
                                   class="form-control" maxlength="40"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newPasswordConfirm" class="col-sm-4 control-label">Confirm New Password</label>
                        <div class="col-sm-8">
                            <input type="text" id="newPasswordConfirm" name="newPasswordConfirm"
                                   ng-model="passwordCommand.newPasswordConfirm" bendy-dirty autocomplete="off" required
                                   ng-disabled="!changingPassword"
                                   class="form-control"
                                   data-dependent-validation="newPassword"
                                   data-errormessage-dependent="This does not match your New Password."/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-2">
                            <button type="submit" class="save btn btn-default"
                                    ng-disabled="!passwordForm.$dirty"
                                    ng-class="{changed: passwordForm.$dirty}">
                                Save
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function() {
        $('#newPassword').on('valuevalidation', function(e, extra) {
            var val = $.trim(extra.value);
            if (val.length < 6) {
                return 'Please enter at least 6 characters.';
            }
        });
    });
</script>
