/* from http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/ */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* based on http://angular-file-upload.appspot.com/ */

.text-drop-box {
    background: none repeat scroll 0 0 #F8F8F8;
    padding-top: 35px;
    text-align: center;
}
.drop-box img, .text-drop-box {
    height: 100px;
    width: 133px;
}
.drop-box {
    border: 5px dashed #DDDDDD;
}
.drop-box.dragover {
    border: 5px dashed #0000FF;
}
.drop-box.dragover-err {
    border: 5px dashed #FF0000;
}

/* added for http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* added so angular.js need not be loaded in head */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* for collapsing table rows */
tbody > tr.odd > td,
tbody > tr.odd > th {
    background-color: #f9f9f9;
}

p.navbar-brand {
    margin-bottom: 0;
}

.changed, input.ng-dirty, select.ng-dirty {
    background-color: #ffff99;
}
.save.changed {
    -webkit-animation: highlightAnimation 2s;
    -moz-animation: highlightAnimation 2s;
    -o-animation: highlightAnimation 2s;
    animation: highlightAnimation 2s;
}
@-webkit-keyframes highlightAnimation {
    from {
        background-color: #ffaa00;
        -webkit-animation-timing-function: ease-in;
    }
    to {
        background-color: #ffff99;
    }
}
@-moz-keyframes highlightAnimation {
    from {
        background-color: #ffaa00;
        -moz-animation-timing-function: ease-in;
    }
    to {
        background-color: #ffff99;
    }
}
@-o-keyframes highlightAnimation {
    from {
        background-color: #ffaa00;
        -o-animation-timing-function: ease-in;
    }
    to {
        background-color: #ffff99;
    }
}
@keyframes highlightAnimation {
    from {
        background-color: #ffaa00;
        animation-timing-function: ease-in;
    }
    to {
        background-color: #ffff99;
    }
}

/* login page */

form.login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
form.login h3  {
    margin-bottom: 10px;
}
form.login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
form.login .form-control:focus {
    z-index: 2;
}
form.login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
form.login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0 no-repeat;
    line-height: 16px;
    padding-left: 30px;
}
